<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

 <div class="category-form">
 <form action="/edit-category/<%= category.category_id %>" method="POST">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= category.category_name %>"
        maxlength="100"
        required
      />
    </div>
    
    <div class="category-actions">
      <button class="btn btn-primary" type="submit">Update Category</button>
      <a class="btn btn-secondary" href="/categories">Cancel</a>
    </div>
  </form>
  </div>

</main>
<%- include('partials/footer') %>
